@use '~@angular/material' as mat;



@include mat.core();

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

.dark-theme {
  @include mat.all-component-colors($angular-dark-theme);
}
